<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' https://js.stripe.com;">
    <title>Stripe Subscription with Node.js</title>
</head>

<body>
    <h1>Plans</h1>
    <div style="display: flex; gap: 20px;">

        <div>
            <h2>Quarterly Quarter</h2>
            <span><b> $299.00 USD</b></span>
            <p>3 months plan</p>
            <button onclick="subscribe(1)">Subscribe</button>
            <hr>
        </div>
        <div>
            <h2>Midyear Membership</h2>
            <span><b> $599.00 USD</b></span>
            <p>6 months plan</p>
            <button onclick="subscribe(2)">Subscribe</button>
            <hr>
        </div>
        <div>
            <h2>Annual Advantage</h2>
            <span><b> $799.00 USD</b></span>
            <p>12 months plan</p>
            <button onclick="subscribe(3)">Subscribe</button>
            <hr>
        </div>
        <div>
            <h2>Golden Road</h2>
            <span><b> $709.00 USD</b></span>
            <p>13 months plan</p>
            <button onclick="subscribe(4)">Subscribe</button>
            <hr>
        </div>
    </div>
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        const stripe = Stripe('pk_test_51PxkeHBj5Xx4BpZriAwj1FiLMyxH7R8P30fL0tTM586uJUjy6kDQv4iIFCRnpyIGQQEaQXjmyzDBFDwY5tj9VjmJ00KQmuRMou'); // Replace with your Stripe public key

        async function subscribe(servicePlanId) {
            try {
                // Make the POST request to the backend to create a Checkout session
                const response = await fetch(`/api/v1/subscriptions/subscribe/${servicePlanId}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        institutionId: 1 // Add any other necessary data here
                    })
                });

                const data = await response.json();

                if (data.sessionId) {
                    // Redirect to Stripe Checkout
                    const { error } = await stripe.redirectToCheckout({
                        sessionId: data.sessionId
                    });

                    if (error) {
                        console.error('Error redirecting to Checkout:', error);
                        alert('Failed to redirect to checkout. Please try again.');
                    }
                } else {
                    alert('Error creating checkout session');
                }
            } catch (error) {
                console.error('Error:', error);
            }
        }
    </script>

</body>

</html>
