<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stipe subscription with nodejs</title>
</head>

<body>
    <h1>Plans</h1>
    <div style="display: flex; gap: 20px;">

        <div>

            <h2>Quarterly Quarter</h2>
            <span><b> $299.00 USD</b></span>
            <p>3 months plan</p>
            <a href="/subscriptons/subscribe/1">Subscribe</a>
            <hr>
        </div>
        <div>

            <h2>Midyear Membership</h2>
            <span><b> $599.00 USD</b></span>
            <p>6 months plan</p>
            <a href="/subscriptons/subscribe/2">Subscribe</a>
            <hr>
        </div>
        <div>
            <h2>Annual Advantage</h2>
            <span><b> $799.00 USD</b></span>
            <p>12 months plan</p>
            <a href="/subscriptons/subscribe/3">Subscribe</a>
            <hr>
        </div>
        <div>
            <h2>Golden Road</h2>
            <span><b> $709.00 USD</b></span>
            <p>13 months plan</p>
            <a href="/subscribe">Subscribe</a>
            <hr>
        </div>
    </div>
</body>

</html>